{% include 'incl/headernav.html' %}

<td colspan='2' id='benefits' style='vertical-align:top;background-color:#ffffff;'>
<h2>Benefits</h2>
<h3>Benefits to the Data-Tools Team</h3>
<p>
<ol>
<li><b>MongoDB With Drupal</b> - some are reporting huge speed gains by using 
  MongoDB with their Drupal applications.
  <ul><br>
  <li> Makes sense with a sub-application to Drupal
  <li> Hard to imagine for the whole drupal db
    <ul><br>
    <li> periodic core/module updates
    <li> any SQL joins must now be done in code!
    </ul>
  </ul>

<li><b>If data not ready to be organized in fields yet</b> - 
  Document-type, NoSQL databases are ideal for situations in which the 
  Data-Tools Team might be collected data that can't be organized yet.

<li><b>Streaming data</b> - MongoDB is said to be more performant with streaming data.

<li><b>Collecting data for the Viz Team</b> the Viz Team is very JavaScript-centric.
  If the Data-Tools Team collects data for the Viz Team, a MongoDB might be the best
  choice of databases.

<li><b>JavaScript Apps</b> - JavaScript frameworks like React, VueJS, etc. will work well with JavaScript databases
  like MongoDB.  If the Data-Tools Team decides to build an app or subapp in JavaScript,
  MongoDB might be the database of choice.

<li> free, open-source

<li> new developers who are more familiar with MongoDB than other databases
</ol>

</td></tr><tr>

{% include 'incl/footer.html' %}
