{% include 'incl/headernav.html' %}

<td colspan='2' id='cert' style='vertical-align:top;background-color:#ffffff;'>
<h2>Certifications</h2>
<h3>Certifications in Biological Programming</h3>
<p>
<ol>
<li><a href='/static/pdf/certs/harvard_python-for-research.pdf'>Using Python for Research</a>
  <div>Harvard University</div>
<li><a href='/static/pdf/certs/mit_quantitative-biology.pdf'>Quantitative Biology Workshop</a>
  <div>MIT - Massachusetts Institute of Technology</div>
<li><a href='/static/pdf/certs/jhu_algorithms-for-dna-sequencing.pdf'>Algorithms for DNA Sequencing</a>
  <div>Johns Hopkins University</div>
</ol>

</td></tr><tr>

{% include 'incl/footer.html' %}
