{% include 'incl/headernav.html' %}

<td id='body'>
<p><i>PyMol - 1ACJ</i>
<br>
<a href='/static/images/web/1ACJ_b-factors.png' target='_blank'><img src='/static/images/web/1ACJ_b-factors.png' style='border:#505050 1px solid;width:700px;'></a>
<ul>
<li><a href='http://biopython.org/DIST/docs/tutorial/Tutorial.html' target='_blank'>Biopython Tutorial and Cookbook</a> -
      Can search for "high-throughput" or whatever.
<li> Bioinformatics with Python Cookbook by Packt has a chapter:
    Processing Next-generation Sequencing Datasets Using Python
    <p> Public link:
      https://hub.packtpub.com/processing-next-generation-sequencing-datasets-using-python/
    <p> Code with chart:
      https://github.com/tiagoantao/bioinf-python/blob/master/notebooks/01_NGS/Working_with_VCF.ipynb
<li> Google Image Search: high throughput sequencing graph
<li> Take a look at: demo code in Harvard Python for research course homework:
     HW4-1.ipynb (open in Anaconda)
<li> Visualizing protein interaction networks in Python
     From data to beautiful graphs with NetworkX
     https://towardsdatascience.com/visualizing-protein-networks-in-python-58a9b51be9d5
<li> Next-Generation Sequencing Data Analysis With PySpark
     Find out how to analyze genomic data in Google Colab with PySpark
     https://towardsdatascience.com/next-generation-sequencing-data-analysis-with-pyspark-888a1e0a079
<li> Molecular Organisation and Assembly in Cells
     Protein Superposition using Biopython
     https://warwick.ac.uk/fac/sci/moac/people/students/peter_cock/python/protein_superposition/
<li> Spectrum Annotation of a Peptide
     <br>https://pyteomics.readthedocs.io/en/latest/examples/example_annotation.html
</ul>
</td>
<td id='third'><p>
<img src='/static/images/web/biopython_logo.png' style='border:#efefef 1px solid;'>
<br>
<p>
Anaconda:
<br> biological_data/bio-python/
<p><a href='certs'>Certifications</a>

</td>
</tr>


{% include 'incl/footer.html' %}
